<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Meetups close to Vienna</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script src="//cdn.firebase.com/v0/firebase.js"></script>
  <script src="//cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="all">
  <style>
  .meetup div {
    float:left;
  }
  .comment {
    /* display: none; */
  }
  a {
    cursor: pointer;
  }
  input.name {
    width: 5%;
    min-width: 6em;
  }
  input.message {
    width: 90%;
    max-width: 50em;
  }
  .comments ul {
    list-style: none;
    padding: 0;
  }
  tr:hover td {
    background-color: white !important;
  }
  .meetup.irrelevant td {
    background-color: #DDD !important;
    opacity: 0.5;
  }
  </style>
</head>
<body ng-app="meetup">
  <div ng-controller="MeetupCtrl">
    <table class="table table-striped">
      <thead >
        <th>Name</th>
        <th>Comments</th>
        <th>Group</th>
        <th>Date</th>
        <th>City</th>
        <th>RSVP</th>
        <th>Relevant</th>
      </thead>
      <tr class="meetup" ng-repeat-start="meetup in meetups | orderByPriority | filter:{relevant:true}">
        <td><a href="{{ meetup.event.eventUrl }}" target="_blank">{{ meetup.event.name }}</a></td>
        <td><a ng-click="showComments = !showComments">{{ meetup.comments.length || 0 }} comments</a></td>
        <td>{{ meetup.event.group }}</td>
        <td>{{ meetup.event.time | date:'medium' }}</td>
        <td>{{ meetup.event.city }}</td>
        <td>{{ meetup.event.attending }}/{{ meetup.event.rsvpLimit || '∞' }}</td>
        <td><input type="checkbox" ng-model="meetup.relevant" ng-change="meetups.$save(meetup.event.id)"></td>
      </tr>
      <tr class="comments" ng-repeat-end ng-show="showComments">
        <td colspan="4">
          <ul>
            <li ng-repeat="comment in meetup.comments"><b>{{comment.name}}:</b> {{ comment.message }}</li>
          </ul>
          <form>
            <div class="form-group">
              <input name="name" ng-model="commentName" placeholder="Name" class="name">:
              <input name="message" ng-model="commentMessage" placeholder="Message" class="message">
              <button ng-click="addComment(meetup.event.id, commentName, commentMessage)" class="btn btn-primary">comment</button>
            </div>
          </form>
        </td>
      </tr>
      <tr class="meetup irrelevant" ng-repeat="meetup in meetups | orderByPriority | filter:{relevant:false}">
        <!-- TODO: This is a lot of repetition. Find out how to get rid of it best. -->
        <td><a href="{{ meetup.event.eventUrl }}" target="_blank">{{ meetup.event.name }}</a></td>
        <td></td>
        <td>{{ meetup.event.group }}</td>
        <td>{{ meetup.event.time | date:'medium' }}</td>
        <td>{{ meetup.event.city }}</td>
        <td>{{ meetup.event.attending }}/{{ meetup.event.rsvpLimit || '∞' }}</td>
        <td><input type="checkbox" ng-model="meetup.relevant" ng-change="meetups.$save(meetup.event.id)"></td>
    </table>
  </div>
</body>
</html>